/*.wrapper {
  display: block;
  width: 100%;
  height: 100%;
}*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.thrive{
  background-color: black;
  width: 100%;
  height: 2.94%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6%;
  /*box-shadow: 0 0 3px 0 black;*/
  /*margin-bottom: 20px;*/
}
.logo {
  width: 35%;
}

.firstPage {
  display: flex;
  background-image: url("images/thrive_mobil_element/startsida.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.conciousBox {
  display: flex;
  width: 85%;
  height: 10%;
  align-items: flex-end;
  justify-content: center;
  background-color: black;
}

/*.conciousBox {
  background-color: black;
  width: 84%;
  height: 10%;
  margin-top: 95%;
}*/
