*{
  box-sizing: border-box;
}
#wrapper {
  width: 100vw;
  padding: 0;
  margin: 0;
}
.header {
  height: 12vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40%;
}

.header {
  height: 20vh;
  width: 100vw;

}
.mainpage {
  position: absolute;
  background-image: url("images/thrive_mobil_element/startsida.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.conciousBox {
  position: relative;
  background-color: black;
  top: 93.86666666666666vw;
  width: 84vw;
  height: 18.666666666666668vw;
  margin-left: 8vw;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7.466666666666667vw;
  font-family: Didot, serif;
  font-style: italic;
}
